# Visual Studio folder
.vs/
.vscode/

# User-specific files
*.user
*.suo

# MonoGame intermediate build folders
**/bin/
**/obj/

# MonoGame content pipeline build artifacts
**/Content/bin/
**/Content/obj/